<div class="w-full font-sans bg-cover bg-landscape my-16">
  <div class="container flex items-center max-auto justify-center flex-1 h-full mx-auto">
    <div class="w-full max-w-2xl">
      <div class="leading-loose">
        <%= form_with model: @user, url: profile_path, class: 'p-10 m-auto rounded', local: true do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <p class="mb-12 py-2 text-2xl sm:text-3xl text-white text-center font-bold bg-info">
            <%= t('.title') %>
          </p>
          <div class="mt-8 mb-1 flex-1">
            <div class="pt-5">
              <p class="pb-3 font-bold"><%= f.label :avatar %></p>
              <div>
                <%= f.file_field :avatar, onchange: 'previewImage(preview)', class: 'w-full rounded-lg border border-info p-2', accept: 'image/*' %>
              </div>
              <div class='flex max-auto justify-center mt-2'>
                <%= image_tag @user.avatar.url, class: 'mask mask-circle w-28 profile-mask-w', id: 'preview' %>
              </div>
              <%= f.hidden_field :avatar_cache %>
            </div>
          </div>
          <div class="mb-4 flex-1">
            <div class="pb-3 font-bold">
              <%= f.label :name %>
            </div>
            <%= f.text_field :name, class: 'input input-bordered input-info w-full' %>
          </div>
          <div class="mb-4 flex-1">
            <div class="pt-5 pb-3 font-bold">
              <%= f.label :email %>
            </div>
            <%= f.text_field :email, class: 'input input-bordered input-info w-full' %>
          </div>
          <%= f.fields_for :favorite_animal, (current_user.favorite_animal || FavoriteAnimal.new) do |animal_form| %>
            <div class="mb-4">
              <div class="pt-5 pb-3 font-bold">
                <%= animal_form.label :animal_id %>
              </div>
              <div class="flex max-auto justify-center">
                <%= animal_form.select :animal_id, Animal.pluck(:name, :id), { include_blank: '選択してください' }, class: 'select select-info w-full' %>
              </div>
            </div>
          <% end %>
          <%= f.fields_for :favorite_category, (current_user.favorite_category || FavoriteCategory.new) do |category_form| %>
            <div class="mb-4">
              <div class="pt-5 pb-3 font-bold">
                <%= category_form.label :category_id %>
              </div>
              <div class="flex max-auto justify-center">
                <%= category_form.select :category_id, Category.pluck(:name, :id), { include_blank: '選択してください' }, class: 'select select-info w-full' %>
              </div>
            </div>
          <% end %>
          <div class="flex items-center justify-center mt-16">
            <%= f.submit (t '.update'), type: 'submit', class: 'max-w-xs cursor-pointer py-2 px-4  bg-blue-600 hover:bg-indigo-900 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
