<div class="container pt-3 center mx-auto justify-center text-center">
  <div class="row">
    <button class="btn btn-outline float-right">
      <%= link_to t('defaults.edit'), edit_profile_path %>
    </button>
    <h3 class="text-5xl"><%= t('.title') %></h3>
    <div class="avatar">
      <div class="w-28 mask mask-squircle">
        <%= image_tag current_user.avatar.url %>
      </div>
    </div>
    <div>
      <b>
        <%= t(User.human_attribute_name :name) %>
      </b>
      <div>
        <%= current_user.name%>
      </div>
    </div>
    <div>
      <b>
        <%= t(User.human_attribute_name :email) %>
      </b>
      <div>
        <%= current_user.email %>
      </div>
    </div>
  </div>
</div>