<header>
  <div class="navbar bg-red-100">
    <div class="flex-1">
      <%= link_to root_path, class: 'btn btn-ghost normal-case text-xl' do %>
        <%= image_tag 'title.png', size: '130x70' %>
      <% end %>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal p-0">
        <li>
          <%= link_to (t 'facilities.bookmarks.title'), bookmarks_facilities_path %>
        </li>
        <li>
          <%= link_to (t 'profiles.show.title'), '#' %>
        </li>
        <li>
          <%= link_to (t 'defaults.logout'), logout_path, method: :delete %>
        </li>
      </ul>
    </div>
  </div>
</header>