<header>
  <div class="navbar">
    <div class="flex-1">
      <%= link_to root_path, class: 'btn btn-ghost' do %>
        <%= image_tag 'title_logo.png', size: '120x70' %>
      <% end %>
    </div>
    <div class="flex-none lg:hidden">
      <ul class="menu menu-horizontal p-0">
        <li>
          <%= link_to search_facilities_path do %>
            <span class="flex max-auto justify-center"><svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg></span>
          <% end %>
        </li>
        <li>
          <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-info border-white text-white">Menu</label>
            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 top-20">
              <li>
                <%= link_to (t 'facilities.bookmarks.title'), bookmarks_facilities_path %>
              </li>
              <li>
                <%= link_to (t 'profiles.show.title'), profile_path %>
              </li>
              <li>
                <%= link_to (t 'defaults.logout'), logout_path, method: :delete %>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="flex-none hidden lg:block">
      <ul class="menu menu-horizontal p-0">
        <li>
          <%= link_to search_facilities_path do %>
            <span class="flex max-auto justify-center"><svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg></span>
          <% end %>
        </li>
        <li>
          <%= link_to (t 'facilities.bookmarks.title'), bookmarks_facilities_path %>
        </li>
        <li>
          <%= link_to (t 'profiles.show.title'), profile_path %>
        </li>
        <li>
          <%= link_to (t 'defaults.logout'), logout_path, method: :delete %>
        </li>
      </ul>
    </div>
  </div>
</header>
