<div class="mt-16">
  <b class="text-xl sm:text-3xl ml-4"><h3 class="inline">カテゴリーから探す</h3></b>
  <div class="flex max-auto justify-center items-center animals-name mx-2 mt-4">
    <% Category.all.each do |category| %>
      <%= link_to category_facilities_path(id: category.id) do %>
        <p class="whitespace-nowrap badge badge-outline bg-blue-500 text-white text-sm sm:text-base m-2 p-3 btn-ghost"><%= category.name %></p>
      <% end %>
    <% end %>
  </div>
</div>
<div class="mt-16 mb-20">
  <b class="text-xl sm:text-3xl ml-4"><h3 class="inline">動物から探す</h3></b>
  <div class="flex max-auto justify-center items-center animals-name mt-4">
    <% Animal.all.each do |animal| %>
      <div class="btn-ghost">
        <%= link_to animal_facilities_path(id: animal.id) do %>
          <div class="link-animal-name">
            <%= image_tag animal.icon, size: '50x50' %>
          </div>
          <div class="dummy-name"><p><%= animal.name %></p></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="mb-20">
  <b class="text-xl sm:text-3xl ml-4"><h3 class="inline">すべて見る</h3></b>
  <div class="flex max-auto justify-center mt-12 sm:mt-16 pb-20">
    <%= link_to all_facilities_path do %>
      <p class="btn twitter-button">全ての施設を表示</p>
    <% end %>
  </div>
</div>
<div class="mb-16">
  <%= render 'shared/keyword_search' %>
</div>
