<div class="card card-side border border-2 border-blue-400 sm:mb-6">
  <div class="card-body">
    <div class="flex">
        <%= link_to facility_path(facility) do %>
          <div class="mr-2 sm:text-2xl btn-ghost"><b><h2><%= facility.name %></h2></b></div>
        <% end %>
      <div>
        <% facility.categories.each do |category| %>
          <%= link_to category_facilities_path(id: category.id) do %>
            <div class="whitespace-nowrap badge badge-outline text-xs sm:text-base sm:m-2"><%= category.name %></div>
          <% end %>
        <% end %>
      </div>
    </div>
    <p class="flex text-xs sm:text-sm text-gray-500"><%= facility.address %></p>
    <div class="flex mt-1">
      <figure><span class="facility-image"><%= facility_image(facility) %></span></figure>
      <div>
        <b class="text-sm sm:text-base flex ml-2 sm:ml-3 sm:mt-3 mb-2"><div>ふれあえる動物</div></b>
        <div class="animals-name ml-2 sm:mt-4 my-2 flex items-center">
          <% facility.animals.each do |animal| %>
            <%= link_to animal_facilities_path(id: animal.id) do %>
              <div class="animal-name my-1 ml-2 btn-ghost">
                <%= image_tag animal.icon, size: '40' %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="flex justify-end">
      <div class="flex">
        <%= render 'shared/bookmark_button', facility: facility, class: 'whitespace-nowrap' %>
        <%= link_to facility_path(facility), data: { 'turbolinks': false } do %>
          <button class="btn whitespace-nowrap ml-3 twitter-button">詳細を見る</button>
        <% end %>
      </div>
    </div>
  </div>
</div>