<div class="card card-side bg-base-100 shadow-xl">
  <figure><%= image_tag 'no_image.jpg'%></figure>
  <div class="card-body">
    <div class="flex">
      <h2 class="card-title mr-5"><%= facility.name %></h2>
      <div>
        <% facility.categories.each do |category| %>
          <p class="whitespace-nowrap badge badge-outline"><%= category.name %></p>
        <% end %>
      </div>
    </div>
    <p><%= facility.address %></p>
    <div class="flex mt-3">
      <b class="mr-5">定休日</b>
      <p><%= facility.close_day %></p>
    </div>
    <b>ふれあえる動物</b>
    <div class="animals-name">
      <% facility.animals.each do |animal| %>
        <div class="animal-name my-2">
          <%= image_tag animal.icon, size: '40' %>
        </div>
      <% end %>
    </div>
    <div class="flex mb-1">
      <%= link_to facility_path(facility), data: { 'turbolinks': false } do %>
        <button class="btn btn-primary mr-2 whitespace-nowrap">詳細を見る</button>
      <% end %>
      <%= render 'shared/bookmark_button', facility: facility, class: 'whitespace-nowrap' %>
    </div>
  </div>
</div>