<div class="card card-side bg-base-100 shadow-xl">
  <figure><%= image_tag 'no_image.jpg'%></figure>
  <div class="card-body">
    <h2 class="card-title"><%= facility.name %></h2>
    <% facility.categories.each do |category| %>
      <h3><%= category.name %></h3>
    <% end %>
    <br>
    <br>
    <b>営業時間</b>
    <p><%= facility.opening_hours %></p>
    <b>定休日</b>
    <p><%= facility.close_day %></p>
    <b>ふれあえる動物</b>
    <% facility.animals.each do |animal| %>
      <p><%= animal.name %></p>
    <% end %>
    <div class="card-actions justify-end">
      <%= link_to facility_path(facility) do %>
        <button class="btn btn-primary">詳細を見る</button>
      <% end %>
    </div>
    <% if logged_in? %>
      <%= render 'bookmark_button', facility: facility %>
    <% else %>
      <%= render 'before_login_bookmark' %>
    <% end %>
  </div>
</div>