<% set_meta_tags title: @facility.name, description: @facility.description, keywords: [@facility.prefecture.name, @facility.categories.pluck(:name).join(',')].join(',') %>
<div class="max-w-screen-md grid sm:grid-cols-2 mx-auto">
  <div class="sm:col-span-2 p-3.5 items-center text-center">
    <div class="container mx-auto mt-10 py-3 px-3 md:px-20">
      <h1 id="facility-title" class="mb-8 text-2xl font-light text-center">
        <%= @facility.name %>
      </h1>
      <h2 class="mb-8 text-2xl font-light text-center">
        <% @facility.categories.each do |category| %>
          <span class="mx-2 badge badge-outline">
            <%= category.name %>
          </span>
        <% end %>
      </h2>
      <div class="flex max-auto justify-center mb-4">
        <%= link_to '写真を投稿する', new_facility_post_path(@facility), class: 'btn btn-info text-white mr-2', id: 'post-button' %>
        <%= link_to '施設を報告する', new_facility_report_path(@facility), class: 'btn btn-accent text-white mr-2' %>
        <%= render 'shared/bookmark_button', { facility: @facility } %>
      </div>
      <table class="table-fixed mb-8 text-base font-light text-center">
        <tbody class="w-11/12 m-auto">
          <tr>
            <td class="border px-1 py-2 whitespace-nowrap">施設紹介</td>
            <td class="border px-1 py-2"><%= @facility.description %></td>
          </tr>
          <tr>
            <td class="border px-1 py-2 whitespace-nowrap">営業時間</td>
            <td class="border px-1 py-2">
              <% @facility.opening_hours.split('.').each do |o| %>
                <div><%= o %></div>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="border px-1 py-2 whitespace-nowrap">電話番号</td>
            <td class="border px-1 py-2"><u><%= @facility.tel_number %></u></td>
          </tr>
          <tr>
            <td class="border px-1 py-2 whitespace-nowrap">住所</td>
            <td class="border px-1 py-2"><%= @facility.address %></td>
          </tr>
          <tr>
            <td class="border px-1 py-2 text-lg whitespace-nowrap">HP</td>
            <% if @facility.web_site.present? %>
              <td class="border px-1 py-2 custom-link"><%= link_to @facility.web_site, @facility.web_site %></td>
            <% end %>
          </tr>
          <% if @facility.remarks.present? %>
          <tr>
            <td class="border px-1 py-2 whitespace-nowrap">備考</td>
            <td class="border px-1 py-2"><%= @facility.remarks %></td>
          </tr>
          <% end %>
          <tr>
            <td class="border px-1 py-2 whitespace-nowrap">動物</td>
            <td class="border px-1 py-2 flex animals-name">
              <% @facility.animals.each do |animal| %>
                <div class="m-2 animal-name">
                  <%= image_tag animal.icon, size: '50x50' %>
                </div>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <div id="map" class="mx-auto justify-center"></div>
      <div class="flex justify-center max-auto">
        <%= link_to "https://twitter.com/share?&text=FLUFF%20MAPSで動物に会いに行こう！お気に入りの施設を見つけました↓%0a#{@facility.name}%0a#{request.url}%0a&hashtags=動物,#{@facility.categories.first.name}", title: 'Twitter', target: '_blank', class: 'btn twitter-button m-4' do %>
          <span class="flex"><svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16"> <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" fill="white"></path></svg><span class="ml-1">ツイッターで共有</span></span>
        <% end %>
        <%= link_to "http://line.me/R/msg/text/?#{@facility.name}の詳細ページがシェアされました%0a#{request.url}%0a~FLUFF%20MAPS~", class: 'btn line-button m-4' do %>
          <span class="flex"><svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-line" viewBox="0 0 16 16"> <path d="M8 0c4.411 0 8 2.912 8 6.492 0 1.433-.555 2.723-1.715 3.994-1.678 1.932-5.431 4.285-6.285 4.645-.83.35-.734-.197-.696-.413l.003-.018.114-.685c.027-.204.055-.521-.026-.723-.09-.223-.444-.339-.704-.395C2.846 12.39 0 9.701 0 6.492 0 2.912 3.59 0 8 0ZM5.022 7.686H3.497V4.918a.156.156 0 0 0-.155-.156H2.78a.156.156 0 0 0-.156.156v3.486c0 .041.017.08.044.107v.001l.002.002.002.002a.154.154 0 0 0 .108.043h2.242c.086 0 .155-.07.155-.156v-.56a.156.156 0 0 0-.155-.157Zm.791-2.924a.156.156 0 0 0-.156.156v3.486c0 .086.07.155.156.155h.562c.086 0 .155-.07.155-.155V4.918a.156.156 0 0 0-.155-.156h-.562Zm3.863 0a.156.156 0 0 0-.156.156v2.07L7.923 4.832a.17.17 0 0 0-.013-.015v-.001a.139.139 0 0 0-.01-.01l-.003-.003a.092.092 0 0 0-.011-.009h-.001L7.88 4.79l-.003-.002a.029.029 0 0 0-.005-.003l-.008-.005h-.002l-.003-.002-.01-.004-.004-.002a.093.093 0 0 0-.01-.003h-.002l-.003-.001-.009-.002h-.006l-.003-.001h-.004l-.002-.001h-.574a.156.156 0 0 0-.156.155v3.486c0 .086.07.155.156.155h.56c.087 0 .157-.07.157-.155v-2.07l1.6 2.16a.154.154 0 0 0 .039.038l.001.001.01.006.004.002a.066.066 0 0 0 .008.004l.007.003.005.002a.168.168 0 0 0 .01.003h.003a.155.155 0 0 0 .04.006h.56c.087 0 .157-.07.157-.155V4.918a.156.156 0 0 0-.156-.156h-.561Zm3.815.717v-.56a.156.156 0 0 0-.155-.157h-2.242a.155.155 0 0 0-.108.044h-.001l-.001.002-.002.003a.155.155 0 0 0-.044.107v3.486c0 .041.017.08.044.107l.002.003.002.002a.155.155 0 0 0 .108.043h2.242c.086 0 .155-.07.155-.156v-.56a.156.156 0 0 0-.155-.157H11.81v-.589h1.525c.086 0 .155-.07.155-.156v-.56a.156.156 0 0 0-.155-.157H11.81v-.589h1.525c.086 0 .155-.07.155-.156Z" fill="white"></path></svg><span class="ml-1">LINEで共有</span></span>
        <% end %>
      </div>
      <%= render 'shared/posts', posts: @facility.posts %>
    </div>
  </div>
</div>
