<% set_meta_tags title: @facility.name, description: @facility.description, keywords: [@facility.prefecture.name, @facility.categories.pluck(:name).join(',')].join(',') %>
<div class="max-w-screen-md grid sm:grid-cols-2 mx-auto">
  <div class="sm:col-span-2 p-3.5 items-center text-center">
    <div class="container mx-auto mt-10 py-3 px-3 md:px-20">
      <h1 id="facility-title" class="mb-8 text-2xl font-light text-center">
        <%= @facility.name %>
      </h1>
      <h2 class="mb-8 text-2xl font-light text-center">
        <% @facility.categories.each do |category| %>
          <span class="mx-2 badge badge-outline">
            <%= category.name %>
          </span>
        <% end %>
      </h2>
      <div class="flex max-auto justify-center mb-4">
        <%= link_to '写真を投稿する', new_facility_post_path(@facility), class: 'btn btn-info text-white mr-2', id: 'post-button' %>
        <%= link_to '施設を報告する', new_facility_report_path(@facility), class: 'btn btn-accent text-white mr-2' %>
        <%= render 'shared/bookmark_button', { facility: @facility } %>
      </div>
      <table class="table-fixed mb-8 text-base font-light text-center">
        <tbody class="w-11/12 m-auto">
          <tr>
            <td class="border px-1 py-2 whitespace-nowrap">施設紹介</td>
            <td class="border px-1 py-2"><%= @facility.description %></td>
          </tr>
          <tr>
            <td class="border px-1 py-2 whitespace-nowrap">営業時間</td>
            <td class="border px-1 py-2">
              <% @facility.opening_hours.split('.').each do |o| %>
                <div><%= o %></div>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="border px-1 py-2 whitespace-nowrap">電話番号</td>
            <td class="border px-1 py-2"><u><%= @facility.tel_number %></u></td>
          </tr>
          <tr>
            <td class="border px-1 py-2 whitespace-nowrap">住所</td>
            <td class="border px-1 py-2"><%= @facility.address %></td>
          </tr>
          <tr>
            <td class="border px-1 py-2 text-lg whitespace-nowrap">HP</td>
            <% if @facility.web_site.present? %>
              <td class="border px-1 py-2 custom-link"><%= link_to @facility.web_site, @facility.web_site %></td>
            <% end %>
          </tr>
          <% if @facility.remarks.present? %>
          <tr>
            <td class="border px-1 py-2 whitespace-nowrap">備考</td>
            <td class="border px-1 py-2"><%= @facility.remarks %></td>
          </tr>
          <% end %>
          <tr>
            <td class="border px-1 py-2 whitespace-nowrap">動物</td>
            <td class="border px-1 py-2 flex animals-name">
              <% @facility.animals.each do |animal| %>
                <div class="m-2 animal-name">
                  <%= image_tag animal.icon, size: '50x50' %>
                </div>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <div id="map" class="mx-auto justify-center"></div>
      <%= render 'shared/posts', posts: @facility.posts %>
    </div>
  </div>
</div>
