<div class="top-wrapper max-w-screen-md">
  <div class="flex max-auto justify-center">
    <div class="top-title-object">
      <h1 class="top-title flex items-center justify-center">FLUFF MAPS<%= image_tag 'top_animal_icon.png', size: '80', class: 'mx-2' %></h1>
      <h2 class="top-message flex items-center justify-center text-center mx-2 sm:mx-4 mt-5 sm:mt-8"><b>FLUFF MAPSは動物とふれあえる施設を検索できるサービスです</b></h2>
      <h3 class="top-message flex items-center justify-center text-center mx-6 sm:mx-10 mt-6 sm:mt-8 text-sm sm:text-lg font-semibold">施設ジャンルや都道府県を選択してお気に入りの施設を探してみてください！</h3>
    </div>
  </div>
  <div class="top-wrapper-animal">
    <%= render 'shared/search_form' %>
  </div>
</div>
<div>
<div class="mb-4 mt-14 text-center">
  <b class="text-xl sm:text-3xl">キーワードから検索</b>
</div>
<div class="w-full container mx-auto justify-center align-center max-w-xl">
  <div>
    <%= form_with model: @search_facility_form, scope: :q, url: facilities_path, method: :get do |f| %>
      <div class="m-4">
        <%= f.search_field :name, placeholder: '地名 施設名 キーワード', class: 'input input-bordered input-info' %>
      </div>
      <div class="text-center">
        <%= f.submit '検索', class: 'btn btn-sm btn-outline btn-info bg-gray-50' %>
      </div>
    <% end %>
  </div>
</div>
<div class="ml-6 mb-4 mt-16">
  <% if logged_in? %>
    <b class="text-xl sm:text-3xl"><%= current_user.name %>さんにオススメの施設</b>
  <% else %>
    <b class="text-xl sm:text-3xl">FLUFF MAPSオススメの施設</b>
  <% end %>
</div>
<div>
  <% if logged_in? %>
    <% current_user.suggest_to_login_user(current_user).each do |facility| %>
      <%= render 'facilities/facility', facility: facility %>
    <% end %>
  <% else %>
    <% @facilities.each do |facility| %>
      <%= render 'facilities/facility', facility: facility %>
    <% end %>
  <% end %>
</div>
<div class="ml-6 mt-20 sm:mt-40 mb-5">
  <b class="text-xl sm:text-3xl">みんなの投稿</b>
</div>
<div id="home-post-image" class="mx-1">
  <%= render 'posts', posts: @posts %>
</div>
<div class="mt-16">
  <b class="text-xl sm:text-3xl ml-4"> カテゴリーから探す</b>
  <div class="flex max-auto justify-center items-center animals-name mx-2 mt-4">
    <% Category.all.each do |category| %>
      <%= link_to category_facilities_path(id: category.id) do %>
        <p class="whitespace-nowrap badge badge-outline bg-blue-500 text-white text-sm sm:text-base m-2 p-4 btn-ghost"><%= category.name %></p>
      <% end %>
    <% end %>
  </div>
</div>
<div class="mt-16">
  <b class="text-xl sm:text-3xl ml-4"> 動物から探す</b>
  <div class="flex max-auto justify-center items-center animals-name mt-4">
    <% Animal.all.each do |animal| %>
        <%= link_to animal_facilities_path(id: animal.id) do %>
          <div class="link-animal-name btn-ghost">
            <%= image_tag animal.icon, size: '50x50' %>
          </div>
          <div class="dummy-name"><%= animal.name %></div>
        <% end %>
    <% end %>
  </div>
</div>