<div class="w-full font-sans bg-cover bg-landscape mt-10">
  <div class="container flex items-center max-auto justify-center flex-1 h-full mx-auto">
    <div class="w-full max-w-lg">
      <div class="leading-loose text-center">
        <%= form_with model: [@facility, @post], class: 'max-w-sm p-10 m-auto rounded shadow-xl card-bg-color', local: true do |f| %>
          <p class="mb-8 text-4xl">
            <span class="flex items-center max-auto justify-center text-blue-900"><%= t('.title') %><span class="ml-2"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" /></svg></span></span>
          </p>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="mb-4 flex-1">
            <div class="pt-5 pb-3">
              <b><%= f.label :title %></b>
            </div>
            <%= f.text_area :title, placeholder: '30文字まで入力できます', class: 'input input-bordered input-info w-full max-w-xs' %>
          </div>
          <div class="mb-4 flex-1">
            <div class="pt-5 pb-3">
              <div><b><%= f.label :image %></b></div>
              <b class="text-red-500">※縦長の画像は中心から正方形にトリミングされます</b>
              <%= f.file_field :image, onchange: 'previewImage()', class: 'form-control m-4', accept: 'image/*' %>
              <%= f.hidden_field :image_cache %>
              <%= image_tag @post.image.url, class: 'w-full h-52 object-cover object-center sm:60', id: 'preview', size: '100x100' %>
            </div>
          </div>
          <div class="flex items-center justify-between mt-4">
            <%= f.submit '送信', type: 'submit', class: 'cursor-pointer py-2 px-4  bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>