<div class="w-full font-sans bg-cover bg-landscape mt-14 mb-10">
  <div class="container flex items-center max-auto justify-center flex-1 h-full mx-auto">
    <div class="w-full">
      <div class="leading-loose text-center">
        <%= form_with model: [@facility, @report], class: 'max-w-sm p-10 m-auto rounded shadow-xl card-bg-color', local: true do |f| %>
          <p class="mb-8 text-2xl font-light text-black">
            <%= t('.title') %>
          </p>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="mb-4 flex-1">
            <div class="pt-5 pb-3 font-medium">
              <b class="flex justify-center"><%= f.label :content %><p>（必須）</p></b>
            </div>
            <%= f.select :content_id, Content.pluck(:name, :id), { include_blank: '項目を選択してください' }, class: 'select select-info text-center' %>
          </div>
          <div class="mb-4 flex-1">
            <div class="pt-5 pb-3 font-medium">
              <b class="flex justify-center"><%= f.label :body %><p>（必須）</p></b>
            </div>
            <%= f.text_area :body, placeholder: '10文字以上で入力してください', class: 'textarea textarea-info w-full' %>
          </div>
          <div class="mb-4 flex-1">
            <div class="pt-5 pb-3 font-medium">
              <b class="flex justify-center"><%= f.label :image %><p>（任意）</p></b>
            </div>
            <%= f.file_field :image, onchange: 'previewImage()', class: 'form-control mb-3', accept: 'image/*' %>
            <%= f.hidden_field :image_cache %>
            <%= image_tag @report.image.url, class: 'w-full h-full object-cover object-center ', id: 'preview', size: '100x100' %>
          </div>
          <div class="flex items-center justify-between mt-4">
            <%= f.submit '送信', type: 'submit', class: 'cursor-pointer py-2 px-4  bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= bottom_navbar %>
